.Theheader 
{
	overflow: auto;
	width: 100%;

	color: white;
	background :rgb(79, 89, 102);
	border: 1px solid #B0C4DE;
	/* border-bottom: none; */
	/* border-radius: 0px 0px 10px 10px ; */
	/* padding: 5px; */
}

.headerbut
{
	font-size: 18px;
	/* padding-right: 1%; */
}

.CamagruStyle
{
	/* text-align: center; */
	padding-left: 2%;
	font-style: oblique;
	font-family: "Times New Roman", Times, serif;
	font-size: 60px;
}

.tag {
	font-size: 16px;
	font-style: italic;
	font-family: monospace;
	text-align: right;
	padding-right: 1%;
}
.headerbutton {
	
	width: 6%;
	/* background: #B0C4DE; */
	padding: 5px;
	font-size: 15px;
	color: white;
	border: none;
	/* border-radius: 0px 0px 10px 10px ; */
	border-radius: 2px;
}
.headerbutton:hover {
	background-color: #B0C4DE;
	color: black;
}

.headerbutton:active {
	color: black;
	background-color: #B0C4DE;
	box-shadow: 0 5px #666;
	/* transform: translateY(1px); */
}
